body {
    background-color: rgb(131, 142, 154);
  }

.logo{
    width: 15%;
    }
    
@media screen and (max-width: 496px) {
  .col{
    display: flex;
    justify-content: center;
  }
  .parrafo {
    display: none;
  }
  body{
    background-color: rgba(132, 120, 120, 0.947);
      }
  .info{
    text-align: center;
  }
  .cabeza{
    font-size:small;
  }
  .final{
    background-color: rgba(129, 120, 120, 0.947);
  }
  .fuera{
    display: none;
  }
  
  }

@media screen and (min-width: 969px) {
  body {
    background-color: rgba(132, 120, 120, 0.947);
  }
 .logofinal{
   width: 15px;
 }
      
  }
  
