@mixin prefijos($valor){
    transform: $valor;    
}

@mixin condiciones($colors) {
      background-color: $colors;

      @if $colors == orange {
          background-image: url("/multimedia/imagen/fondo-azul.png");
          margin: 2px;
          padding: 3px;
          text-align: center;
          color: $colorW;
    } @else {
        background-image: url("/multimedia/imagen/fondo-gris.png");
        margin: 2px;
        padding: 3px;
        color:$colorB;  
        .nosotroslogo{
            width: 25%;
            box-shadow: 20px 20px 20px #14273a, -20px -14px 20px rgba(0, 0, 0, 0.623);
            border-radius: 50%;
        }
    }
    
}