body {
    background-image: url("/multimedia/imagen/fondo-gris.png");
  }
  @media screen and (max-width: 496px) {
    .col{
      display: flex;
      justify-content: center;
    }
    .parrafo {
      display: none;
    }
    body{
      background-image: url("/multimedia/imagen/fondo-gris.png");
        }
  
    .cabeza{
      font-size:small;
    }
    .final{
      background-image: url("/multimedia/imagen/fondo-gris.png");
    }
    .fuera{
      display: none;
    }
       
    }
  
  @media screen and (min-width: 969px) {
    body {
      background-image: url("/multimedia/imagen/fondo-gris.png");
         }  
    .circle1{
      transition: all 0.5s linear;
       } 
    .circle2{
        transition: all 1s linear;
         } 
    .circle3{
          transition: all 1.5s linear;
           } 
    .clas:hover .circle1,
    .clas:hover .circle2,
    .clas:hover .circle3{
       transform: translateX(100px);
    }
  
    }

@media screen and (max-width: 786px) {
  .baner{
    height: 100vh;
  }
  
}