body {
    background-image:$fondo;

@media screen and (max-width: 300px) {
  .col{
    display: flex;
    justify-content: center;
  }
  .parrafo {
    display: none;
  }
  .cabeza{
    font-size:small;
  }
  .final{
    background-image:$fondo;
  }
  .fuera{
    display: none;
  }
  .baner{
    height: 70vh;
    padding: 25% 0% ;
            }

}  

@media screen and (max-width: 566px) {
    .col{
      display: flex;
      justify-content: center;
    }
    .parrafo {
      display: none;
    }
    .cabeza{
      font-size:small;
    }
    .final{
      background-image:$fondo;
    }
    .fuera{
      display: none;
    }
    .baner{
      height: 55vh;
              }
   }
  }
  
  
  @media screen and (min-width: 969px) {
    body {
      background-image:$fondo;
         }  
    .circle1{
      transition: all 0.5s linear;
       } 
    .circle2{
        transition: all 1s linear;
         } 
    .circle3{
          transition: all 1.5s linear;
           } 
    .clas:hover .circle1,
    .clas:hover .circle2,
    .clas:hover .circle3{
       transform: translateX(100px);
    }
    .baner{
      height: 100vh;
      padding: 12% 0% ;
        }
    .nosotroslogo{
      width: 15%;
    }    
  
    }

